<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Footer -->
<footer>

    <!-- Logo -->
    <div class="ud_logo"><img src="images/logo.jpg" alt="" /></div>

    <!-- Metanavigation -->
    <nav id="ud_meta_nav">
        <ul>
            <a href="">
                <li>Impressum</li>
            </a>
            <a href="">
                <li>Datenschutz</li>
            </a>
            <a href="">
                <li>Haftungsausschluss</li>
            </a>
        </ul>
    </nav>

    <!-- Metanavigation -->
    <div id="ud_copyright">Design by <a href="">KSP-IT Solutions</a></div>

</footer>
</body>
</html>