<head th:fragment="head">

        <meta charset="utf-9">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Rent A Tool</title>
        <!-- ########################################################################## -->
        <!-- CSS & Fonts -->
        <!-- ########################################################################## -->

        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <link rel="stylesheet" th:href="@{/css/error.css}"/>
        <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/layout.css}"/>
        <link rel="stylesheet" th:href="@{/css/login.css}"/>
        <link rel="stylesheet" th:href="@{/css/toolManagement.css}"/>
        <link rel="stylesheet" th:href="@{/css/registrationSuccessfull.css}"/>
        <link rel="stylesheet" th:href="@{/css/tools.css}"/>
        <link rel="stylesheet" th:href="@{/css/navigation.css}"/>
        <link rel="stylesheet" th:href="@{/css/user.css}"/>

        <!-- ########################################################################## -->
        <!-- jQuery -->
        <!-- ########################################################################## -->
        <script th:src="@{/js/error.js}"></script>
        <script th:src="@{/js/jquery.js}"></script>
        <script th:src="@{/js/scroll.js}"></script>

</head>
