<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<header th:fragment="header">
    <nav>
        <input type="checkbox" id="responsive-nav">
        <label for="responsive-nav" class="responsive-nav-label">&#9776;</label>

        <div class="navfloat">
            <a href="/">Startseite <i class="fa fa-home" aria-hidden="true"></i></a>
            <a href="/#UberUns">Über Uns <i class="fa fa-info" aria-hidden="true"></i></a>
            <a href="/#Leistungen">Leistungen <i class="fa fa-cogs" aria-hidden="true"></i></a>

            <a href="/#Kontakt">Kontakt <i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            <a href="/tools">Tools <i class="fa fa-wrench" aria-hidden="true"></i></a>

            <div class="dropdown">
                <button class="dropbtn"><i class="fa fa-user fa-2x" aria-hidden="true"></i></button>
                <div class="dropdown-content">

                    <a sec:authorize="!isAuthenticated()" href="/register">Registrierung <i class="fa fa-user-plus" aria-hidden="true"></i></a>
                    <a sec:authorize="!isAuthenticated()" href="/login">LogIn <i class="fa fa-sign-in" aria-hidden="true"></i></a>
                    <a sec:authorize="hasRole('ADMIN') and hasRole('EMPLOYEE')" href="/toolManagement">Tool Management</a>
                    <a sec:authorize="hasRole('ADMIN')" href="/userManagement">User Management</a>
                    <a sec:authorize="hasRole('CUSTOMER')" href="/accountView">Account</a>
                    <a sec:authorize="isAuthenticated()" href="/logout">Logout</a>

                </div>
            </div>
        </div>
    </nav>

    <div class="NavContent">
        <a href="/"><img src="images/logo.jpg" alt=""/></a>
        <a class="userName22" sec:authorize="isAuthenticated()" > Angemeldet als <span  th:text ="${authUserFirstName} + ' ' + ${authUserLastName}+ '!'"></span></a>
    </div>

</header>

