.toolsBody body {
    font-family: "Lato", sant-serif;
    line-height: 1.25;
}

.toolsBody .toolManagementHeader{
    text-align: center;
    margin-top: 5em;
}

.toolsBody table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    margin-bottom: 5em;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.toolsBody table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

.toolsBody table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

.toolsBody table th,
.toolsBody table td {
    padding: .625em;
    text-align: center;
}

.toolsBody table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .toolsBody table {
        border: 0;
    }

    .toolsBody table caption {
        font-size: 1.3em;
    }

    .toolsBody table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .toolsBody table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .toolsBody table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .toolsBody table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .toolsBody table td:last-child {
        border-bottom: 0;
    }
}