<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>
<!--    <title>Create New Tool</title>-->

<body>
<header th:replace="fragments/header :: header"></header>

<section id="UberUns" class="ud_page">

    <!-- Headline -->
    <h2>Toolmanagement</h2>
    <div class="ud_h2_balken"></div>


    <div class="login-page">
        <div class="form">
            <form class="login-form" th:action="@{/addTool}" th:object="${tool}" method="post">
                <input type="text" th:field="*{description}" placeholder="Description"/>
                <select th:field ="*{category}" placeholder="Category">
                <option th:each="p :${categoryList}" th:value="${p}" th:text="${p}" />
                </select>
                <input type="text" th:field="*{rentPrice}" placeholder="Rentprice"/>
                <select th:field ="*{toolStatus}">
                    <option th:each="p :${statusList}" th:value="${p}" th:text="${p}" />
                </select>
                <button>Save</button>
            </form>
        </div>


</div>
</section>
</body>
</html>