<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        <td class="title">
                            <img src="/../images/logo.jpg" style="width:100%; max-width:200px;">
                        </td>

                        <td>
                            Billnumber #: <data-label th:text="${customerBill.getBillNumber()}"></data-label><br>
                            Created:  <data-label th:text="${#temporals.format(localDate, 'dd-MM-yyyy')}"></data-label><br>
                            Due: <data-label th:text="${#temporals.format(localDate, 'dd-MM-yyyy')}"></data-label>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="2">
                <table>
                    <tr>
                        <td>
                            <data-label th:text ="${authUserFirstName} + ' ' + ${authUserLastName}"></data-label><br>
                            <data-label th:text ="${authUserAddressStreet}+ ' ' + ${authUserAddressHnr}"></data-label><br>
                            <data-label th:text ="${authUserAddressCity}+ ' ' + ${authUserAddressZip}">"></data-label><br>
                            <data-label th:text ="${authUserAddressCountry}"></data-label><br>
                            <data-label th:text ="${authUserPhone}"></data-label>
                        </td>

                        <td>
                            RentATool, Inc.<br>
                            12345 Hammer Street<br>
                            94585, Hammerhausen<br>
                            timallen@rat.de
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="heading">
            <td>
                Bezhalmethode
            </td>

            <td>
                PayPal
            </td>
        </tr>

        <tr class="details">
            <td>
                PayPal
            </td>

            <td>
                965824568
            </td>
        </tr>

        <tr class="heading">
            <td>
                Werkzeug
            </td>

            <td>
                Preis
            </td>
        </tr>

        <tr class="item"th:each="rentProcess : ${listOfRentprocess}">
            <td >
                <data-label th:text="${rentProcess.getRentedTool().getDescription()}"></data-label>
            </td>
            <td>
                <data-label th:text="${rentProcess.getRentedTool().getRentPrice()}"></data-label>
            </td>
        </tr>
        <tr class="total">
            <td></td>
            <td>
                Total: <data-label th:text="${customerBill.getFullRentPrice()}"></data-label>
            </td>
        </tr>
    </table>
</div>
</body>
</html>