<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<header th:replace="fragments/header :: header"></header>

<section id="UberUns" class="ud_page">

    <!-- Headline -->
    <h2>Wählen Sie Ihre Station für die Abholung</h2>
    <div class="ud_h2_balken"></div>

    <div th:each="station : ${listStation}" class="login-page">
        <div class="form">
            <h3 data-label="Description" th:text="${station.getDescription()}">Description</h3>
            <form  th:action="@{'/setStation/'+ ${tool.id}+'/'+${station.id}}" th:object="${station}"  method="post">

                <button>Ausleihvorgang abschließen</button>

            </form>
        </div>
    </div>

</section>
<section id="Footer" class="ud_page2">

    <!-- Footer -->
    <footer th:replace="fragments/footer :: footer"></footer>
</section>

</body>
</html>
