<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CUSTOMER</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="START">START</a></li>
                <li><a href="ADMIN">ADMIN</a></li>
                <li><a href="EMPLOYEE">EMPLOYEE</a></li>
                <li class="active"><a href="CUSTOMER">CUSTOMER</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
<body>
CUSTOMER
</body>
</html>