<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body class="toolsBody">
<header th:replace="fragments/header :: header"></header>
<section id="UberUns" class="ud_page">

    <!-- Headline -->
    <h2>Customer</h2>
    <div class="ud_h2_balken"></div>

    <table>
        <thead>
        <tr>
            <th scope="col">Vorname</th>
            <th scope="col">Nachname</th>
            <th scope="col">Alter</th>
            <th scope="col">Rolle</th>
            <th scope="col">E-Mail</th>

        </tr>
        </thead>

        <tr>
            <tbody>

            <tr th:each="customer : ${listCustomer}">
                <td data-label="firstname" th:text="${customer.firstname}">Product ID</td>
                <td data-label="lastname " th:text="${customer.lastname}">Category</td>
                <td data-label="birthday" th:text="${#temporals.formatISO(customer.birthday)}"> >Rentprice</td>
                <td data-label="role" th:text="${customer.getAccount().role}">Toolstatus</td>
                <td data-label="email" th:text="${customer.getAccount().email}">Description</td>
                <!--            <td>-->
                <!--                <a th:href="@{/editTool/{id}(id=${customer.id})}"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>-->
                <!--                &nbsp;&nbsp;&nbsp;-->
                <!--                <a th:href="@{'/delete/' + ${customer.id}}"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>-->
                <!--            </td>-->
            </tr>

            </tbody>
    </table>
</section>

<section id="Footer" class="ud_page2">
    <!-- Footer -->
    <footer th:replace="fragments/footer :: footer"></footer>

</section>
</body>
</html>