<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>
<!--    <title>Edit Tool</title>-->

<body class="toolsBody">
<header th:replace="fragments/header :: header"></header>
<section id="UberUns" class="ud_page">

    <!-- Headline -->
    <h2>Werkzeug bearbeiten</h2>
    <div class="ud_h2_balken"></div>


    <div class="login-page">
        <div class="form">
            <form class="login-form" th:action="@{/updateTool}" th:object="${tool}" method="post">
                <input type="text" th:field="*{id}" readonly="readonly" />
                <input type="text" th:field="*{description}" placeholder="Description"/>
                <input type="text" th:field="*{rentPrice}" placeholder="Rentprice"/>
                <button>Speichern</button>
            </form>
        </div>


    </div>
</section>
</body>
</html>