<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>
<!--    <title>Edit Tool</title>-->

<body class="toolsBody">
<header th:replace="fragments/header :: header"></header>
<div align="center">
    <h1>Edit Product</h1>
    <br />
    <form action="#" th:action="@{/editTool}" th:object="${tool}"
          method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>Product ID:</td>
                <td>
                    <input type="text" th:field="*{id}" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td>Tool Name:</td>
                <td>
                    <input type="text" th:field="*{description}" />
                </td>
            </tr>
            <tr>
                <td>Rentprice:</td>
                <td><input type="text" th:field="*{rentPrice}" /></td>
            </tr>
            <!--            <tr>-->
            <!--                <td>Manufacturer:</td>-->
            <!--                <td><input type="text" th:field="*{manufacturer}" /></td>-->
            <!--            </tr>-->

            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>