<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>
<!--    <title>Error</title>-->

<body class="errorBody">
<header th:replace="fragments/header :: header"></header>

<div class="errorWrapper">
    <h1><td th:text="${status}"/></h1>
    <h2><td th:text="${error}"/></h2>
    <div class="gears">
        <div class="gear one">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="gear two">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="gear three">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
</div>
<div class="footerWrapper">
    <!-- Footer -->
    <footer th:replace="fragments/footer :: footer"></footer>
</div>
</body>
</html>