<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Willkomen bei Rent A Tool</h1>-->
<!--<a href="register">Register</a><br>-->
<!--<a href="tools">Add Tools</a>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Rent A Tool</title>
    <!-- ########################################################################## -->
    <!-- CSS & Fonts -->
    <!-- ########################################################################## -->

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <link rel="stylesheet" type="text/css" href="css/icon.css">
    <!-- ########################################################################## -->
    <!-- jQuery -->
    <!-- ########################################################################## -->

    <script src="js/jquery.js"></script>
    <script src="js/scroll.js"></script>

</head>
<body>
<header>
    <!-- Logo -->
    <div id="ud_logo"><a href="#Startseite"><img src="images/logo.jpg" alt=""/></a></div>

    <!-- Kontakt -->
    <div id="ud_kontakt_icon">
        <div class="ud_kontakt_icon"><span class="icon-mail-alt"></span></div>
        <div class="ud_kontakt_icon"><span class="icon-location"></span></div>
    </div>

    <!-- Navigation -->
    <nav>
        <ul>
            <li><a href="#Startseite">Startseite</a></li>
            <li><a href="#UberUns">Über Uns</a></li>
            <li><a href="#Leistungen">Leistungen</a></li>
            <li><a href="#Kontakt">Kontakt</a></li>
        </ul>
    </nav>
</header>

<!-- ########################################################################## -->
<!-- Website -->
<!-- ########################################################################## -->

<!-- ########################################################################## -->
<!-- Startseite -->
<!-- ########################################################################## -->

<section id="Startseite" class="ud_page">

    <!-- Headline -->
    <div id="ud_intro">

        <h2>Rent a<br>Tool</h2>
        <div class="ud_h2_balken"></div>

        <p>„Rent a Tool“ hat sich auf den Verleih von Heimwerkerwerkzeug spezialisiert. Mit seinen 12 Mitarbeitern hat es seinen Firmensitz in der Landeshauptstadt Erfurt.</p>

        <a href="" class="ud_button">Weiter</a>
    </div>

</section>

<!-- ########################################################################## -->
<!-- Über Uns -->
<!-- ########################################################################## -->

<section id="UberUns" class="ud_page">

    <!-- Headline -->
    <h2>Über Uns</h2>
    <div class="ud_h2_balken"></div>

    <!-- Content -->
    <article class="ud_UberUns">
        <article>
            <p>Wir glauben: Jede Idee hat ein Recht auf Umsetzung. Deshalb bekommt bei uns jeder Kreative, Macher und Heimwerker genau das Profi-Werkzeug, das er braucht. Einfach per App, rund um die Uhr – und minutengenau abgerechnet. So setzt du deine Ideen nicht nur ratzfatz um. Du sparst auch viel Geld, Platz und förderst den verantwortungsvollen Umgang mit Ressourcen. </p>
<p>Etwas zu schaffen, liegt in unserer Natur: als Mensch – und als Unternehmen. Wir bringen Werkzeuge und Baumaschinen mit genau den Menschen und Unternehmen zusammen, die unsere Welt formen und gestalten. Die dafür sorgen, dass das, was zählt, erhalten bleibt. Und die bereit sind, auch mal ganz neue Wege zu gehen. Genauso wie wir.</p>
            <p>Gute Idee? Dann rein in den Toolpool – und ran an die Umsetzung. Dein Rent a Tool</p>


        </article>
    </article>

    <article class="ud_UberUns ud_motto_bg">
        <article>
            <div class="ud_motto">"Kompakte Station für den innerstädtischen Einsatz"</div>
        </article>
    </article>

</section>

<!-- ########################################################################## -->
<!-- Leistung -->
<!-- ########################################################################## -->

<section id="Leistungen" class="ud_page">

    <!-- Headline -->
    <h2>Leistungen</h2>
    <div class="ud_h2_balken"></div>

    <!-- Content -->
    <article class="ud_leistungen">

        <ul>
            <li class="ud_handarbeit">
                <div class="ud_tag_line">
                    <h3>Handarbeit</h3>
                    <div class="ud_h3_balken"></div>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua</p>
                </div>
            </li>

            <li class="ud_projekte_naturholz">
                <div class="ud_tag_line">
                    <h3>Projekte aus naturholz</h3>
                    <div class="ud_h3_balken"></div>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua</p>
                </div>
            </li>

            <li class="ud_mobel_naturholz">
                <div class="ud_tag_line">
                    <h3>Designer Möbel mit Naturholz</h3>
                    <div class="ud_h3_balken"></div>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua</p>
                </div>
            </li>
        </ul>

    </article>

</section>

<!-- ########################################################################## -->
<!-- Kontakt -->
<!-- ########################################################################## -->

<section id="Kontakt" class="ud_page">

    <!-- Headline -->
    <h2>Kontakt</h2>
    <div class="ud_h2_balken"></div>

    <!-- Content -->
    <article class="ud_kontakt">
        <ul>
            <li><span class="icon-mail-alt"></span> <a href="">contact@woodwork.com</a></li>
            <li><span class="icon-location"></span> Beispielstraße 1, Freiburg 23122</li>
            <li><span class="icon-phone"></span> 0123 / 12 12 12 5</li>
        </ul>
    </article>

    <!-- Footer -->
    <footer>

        <!-- Logo -->
        <div class="ud_logo"><img src="images/logo.jpg" alt="" /></div>

        <!-- Metanavigation -->
        <nav id="ud_meta_nav">
            <ul>
                <a href="">
                    <li>Impressum</li>
                </a>
                <a href="">
                    <li>Datenschutz</li>
                </a>
                <a href="">
                    <li>Haftungsausschluss</li>
                </a>
            </ul>
        </nav>

        <!-- Metanavigation -->
        <div id="ud_copyright">Design by <a href="">Unleashed Design</a></div>

    </footer>

</section>

</body>
<!--<body>-->
<!--<h1>Willkomen bei Rent A Tool</h1>-->
<!--<a href="login">LogIn</a><br>-->
<!--<a href="register">Register</a><br>-->
<!--<a href="tools">Add Tools</a>-->

</html>