<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragments/head :: head"></head>

<body>
    <header th:replace="fragments/header :: header"></header>


    <!-- ########################################################################## -->
<!-- Website -->
<!-- ########################################################################## -->

<!-- ########################################################################## -->
<!-- Startseite -->
<!-- ########################################################################## -->

<section id="Startseite" class="ud_page">

    <!-- Headline -->
    <div id="ud_intro">

        <h2>Rent a<br>Tool</h2>
        <div class="ud_h2_balken"></div>

        <p>„Rent a Tool“ hat sich auf den Verleih von Heimwerkerwerkzeug spezialisiert. Mit seinen 12 Mitarbeitern hat es seinen Firmensitz in der Landeshauptstadt Erfurt.</p>

        <div class="ud_button_leistung">
            <div class="btn btn-leistung">
                <span>Erfahren Sie mehr</span>
            </div>
        </div>
    </div>

</section>

<!-- ########################################################################## -->
<!-- Über Uns -->
<!-- ########################################################################## -->

<section id="UberUns" class="ud_page">

    <!-- Headline -->
    <h2>Über Uns</h2>
    <div class="ud_h2_balken"></div>

    <!-- Content -->
    <article class="ud_UberUns">
        <article>
            <p>Wir glauben: Jede Idee hat ein Recht auf Umsetzung. Deshalb bekommt bei uns jeder Kreative, Macher und Heimwerker genau das Profi-Werkzeug, das er braucht. Einfach per App, rund um die Uhr – und minutengenau abgerechnet. So setzt du deine Ideen nicht nur ratzfatz um. Du sparst auch viel Geld, Platz und förderst den verantwortungsvollen Umgang mit Ressourcen. </p>
<p>Etwas zu schaffen, liegt in unserer Natur: als Mensch – und als Unternehmen. Wir bringen Werkzeuge und Baumaschinen mit genau den Menschen und Unternehmen zusammen, die unsere Welt formen und gestalten. Die dafür sorgen, dass das, was zählt, erhalten bleibt. Und die bereit sind, auch mal ganz neue Wege zu gehen. Genauso wie wir.</p>
            <p>Gute Idee? Dann rein in den Toolpool – und ran an die Umsetzung. Dein Rent a Tool</p>


        </article>
    </article>

    <article class="ud_UberUns ud_motto_bg">
        <article>
            <div class="ud_motto">"Kompakte Station für den innerstädtischen Einsatz"</div>
        </article>
    </article>

</section>

<!-- ########################################################################## -->
<!-- Leistung -->
<!-- ########################################################################## -->

<section id="Leistungen" class="ud_page">

    <!-- Headline -->
    <h2>Leistungen</h2>
    <div class="ud_h2_balken"></div>

    <!-- Content -->
    <article class="ud_leistungen">

        <ul>
            <li class="ud_ratWerSeidIhr">
                <div class="ud_tag_line">
                    <h3>RaT, wer seid ihr?</h3>
                    <div class="ud_h3_balken"></div>
                    <p>Wir sind ein junges Unternehmen, das gerne neue Wege geht. Wohin, das erzählen wir dir hier.<br><br><br></p>
                    <div class="ud_button_leistung">
                        <div class="btn btn-leistung">
                            <span>Erfahren Sie mehr</span>
                        </div>
                    </div>
                </div>
            </li>

            <li class="ud_unsereTools">
                <div class="ud_tag_line">
                    <h3>Unsere Werkzeuge</h3>
                    <div class="ud_h3_balken"></div>
                    <p>Entdecke unseren Toolpool und schaue nach Werkzeugen in deiner Nähe. Einfach Station auswählen, Kategorie auswählen und loslegen.<br><br></p>
                    <div class="ud_button_leistung">
                        <div class="btn btn-leistung">
                            <span>Zu den Tools</span>
                        </div>
                    </div>
                </div>
            </li>

            <li class="ud_cityToolbox">
                <div class="ud_tag_line">
                    <h3>City Toolbox</h3>
                    <div class="ud_h3_balken"></div>
                    <p>Schau online, welche Werkzeuge verfügbar sind. Reserviere dir Werkzeuge, wir bringen sie dir an die ausgewählte Station und du holst sie 24/7 aus der Station ab.</p>
                    <div class="ud_button_leistung">
                        <div class="btn btn-leistung">
                            <span>Erfahren Sie mehr</span>
                        </div>
                    </div>
                </div>
                </div>
            </li>

        </ul>

    </article>

</section>

<!-- ########################################################################## -->
<!-- Kontakt -->
<!-- ########################################################################## -->

<section id="Kontakt" class="ud_page">

    <!-- Headline -->
    <h2>Kontakt</h2>
    <div class="ud_h2_balken"></div>

    <!-- Content -->
    <article class="ud_kontakt">
        <ul>
            <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="">contact@rentatool.com</a></li>
            <li><i class="fa fa-location-arrow" aria-hidden="true"></i></span> Beispielstraße 1, Freiburg 23122</li>
            <li><i class="fa fa-phone-square" aria-hidden="true"></i> 0123 / 12 12 12 5</li>
        </ul>
    </article>

    <footer th:replace="fragments/footer :: footer"></footer>


</section>

</body>


</html>