<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<header>
<!-- Logo -->
<div id="ud_logo"><a href="/"><img src="images/logo.jpg" alt=""/></a></div>

<!-- Navigation -->
<nav>
    <ul>

        <li>Hallo <span th:text ="${#authentication.getName()}"></span>!</li>
        <li><a href="tools">Tools <i class="fa fa-wrench" aria-hidden="true"></i></a></li>
        <li><a href="account">Account <i class="fa fa-user" aria-hidden="true"></i></a></li>
        <li><a href="/">LogOut <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
    </ul>
</nav>
</header>
<section id="Kontakt" class="ud_page">
<footer th:replace="fragments/footer :: footer"></footer>
</section>
</body>
</html>