<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<header th:replace="fragments/header :: header"></header>
<section id="UberUns" class="ud_page">

    <!-- Headline -->
    <h2>LogIn</h2>
    <div class="ud_h2_balken"></div>

<div class="login-page">
        <div class="form">
            <form class="login-form" th:action="@{/login}" method="post">
                <div th:if="${param.logout}">
                    Sie wurden ausgeloggt.
                </div>
                <div th:if="${param.error}">
                    Ungültiger Nutzername oder Password.
                </div>
                <input type="text" id="username" name="username" placeholder="Nutzername"/>
                <input type="password" id="password" name="password" placeholder="Password"/>

                <button>login</button>
                <p class="message">Noch nicht registriert? <a href="/register">Erstelle einen Account</a></p>


            </form>
        </div>
    </div>
</section>


<!-- Footer -->
    <footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>