<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration Succes</title>
    <style type="text/css">
        span{
            display: inline-block;
            width: 200px;
            text-align: left;
        }
    </style>
</head>
<body>
<h1> Registration Succeeded</h1>
<div align="center">
<span>Full name:</span><span th:text="${User.name}"></span><br>
<span>E-Mail:</span><span th:text="${User.email}"></span><br>
<span>Password:</span><span th:text="${User.password}"></span><br>
<!--<span>Birthday:</span><span th:text="${User.birthday}"></span><br>-->
    <span>Profession:</span><span th:text="${User.profession}"></span><br>
    <span>Married?:</span><span th:text="${User.married}"></span><br>
    <span>Gender:</span><span th:text="${User.gender}"></span><br>
    <span>Note:</span><span th:text="${User.note}"></span><br>
</div>
</body>
</html>