<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Title</title>
</head>
<body>
<h1> User Registration</h1>
<form action="#" th:action="@{/save}" th:object="${user}" method="post">

    <label>Fullname:</label>
    <input type="text" th:field="*{name}" /><br>

    <label>E-Mail:</label>
    <input type="text" th:field="*{email}" /><br>

    <label>Password:</label>
    <input type="password" th:field="*{password}" /><br>

    <label>Test:</label>
    <input type="text" th:field="*{test}" /><br>
<!--    <label>Birthday (yyyy-mm-dd):</label>-->
<!--    <input type="text" th:field="*{birthday}" /><br>-->

    <label>Profession:</label>
    <select th:field ="*{profession}">
        <option th:each="p :${professionList}" th:value="${p}" th:text="${p}" />
    </select>
    <br>
    <label>Married?:</label>
    <input type="checkbox" th:field="*{married}"/><br>
    <label>Gender:</label>
    <input type="radio" th:field="*{gender}" value="Male"/>Male
    <input type="radio" th:field="*{gender}" value="Female"/>Female
    <br>
    <label>Note:</label>
    <textarea rows="5" cols="25" th:field="*{note}"> </textarea>
    <br>

    <button type="submit">Register</button>
</form>
</body>
</html>