<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<header th:replace="fragments/header :: header"></header>

<div class="login-page">
    <div class="form">
            <form  th:action="@{/save}" th:object="${newCustomer}"  method="post">
                <div th:action="@{/save}" th:object="${userAccount}" method="post">
                    <input type="text" th:field="*{email}" placeholder="EMail"/>
                    <input type="password" th:field="*{password}" placeholder="password"/>
                    <select th:field ="*{role}">-->
                        <option th:each="p :${roleList}" th:value="${p}" th:text="${p}" />
                    </select>
                </div>
                <input type="text" th:field="*{firstname}" placeholder="Vorname"/>
                <input type="text" th:field="*{lastname}" placeholder="Nachname"/>
<!--                ToDo at the moment it doesen't work with birthday-->
<!--                <input type="text" th:field="*{birthday}" placeholder="Geburtstag"/>-->
                <input type="text" th:field="*{phoneNumber}" placeholder="Telefonnummer"/>
                <div th:action="@{/save}" th:object="${userAddress}" method="post">
                    <input type="text" th:field="*{city}" placeholder="Stadt"/>
                    <input type="text" th:field="*{country}" placeholder="Land"/>
                    <input type="text" th:field="*{houseNr}" placeholder="Hausnummer"/>
                    <input type="text" th:field="*{street}" placeholder="Straße"/>
                    <input type="text" th:field="*{zip}" placeholder="PLZ"/>
                </div>

                    <button>Registrierung Abschließen</button>


            </form>
    </div>
</div>

<section id="Kontakt" class="ud_page">
    <!-- Headline -->
    <h2>Kontakt</h2>
    <div class="ud_h2_balken"></div>

    <!-- Content -->
    <article class="ud_kontakt">
        <ul>
            <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="">contact@rentatool.com</a></li>
            <li><i class="fa fa-location-arrow" aria-hidden="true"></i></span> Beispielstraße 1, Freiburg 23122</li>
            <li><i class="fa fa-phone-square" aria-hidden="true"></i> 0123 / 12 12 12 5</li>
        </ul>
    </article>
<!-- Footer -->
    <footer th:replace="fragments/footer :: footer"></footer>
</section>
</body>
</html>