<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body class="toolsBody">
<header th:replace="fragments/header :: header"></header>

<section id="UberUns" class="ud_page">

    <!-- Headline -->
    <h2>Ihre ausgeliehenen Werkzeuge</h2>
    <div class="ud_h2_balken"></div>

    <div class="flexWrapper">
        <div th:each="tool : ${listTools}">
            <div class="card">
                <img src="/images/leistung_2.jpg" alt="TOOLdummy" style="width:80%">
                <ul class="toolInfo">
                    <li data-label="Description" th:text="${tool.description}">Description</li>
                    <th:block th:switch="${tool.category}">
                        <li data-label th:case="${T(de.rat.model.logistics.Category).ACCUTOOL}">akkubetrieben</li>
                        <li data-label th:case="${T(de.rat.model.logistics.Category).ELECTRICALTOOL}">elektrisch betrieben</li>
                        <li data-label th:case="${T(de.rat.model.logistics.Category).GARDENTOOL}">Gartenwerkzeug</li>
                        <li data-label th:case="${T(de.rat.model.logistics.Category).HANDTOOL}">ohne Motor</li>
                    </th:block >

                    <th:block th:switch="${tool.toolStatus}">
                        <li data-label th:case="${T(de.rat.model.logistics.ToolStatus).AVAILABLE}">ist vorhanden</li>
                        <li data-label th:case="${T(de.rat.model.logistics.ToolStatus).ISBROKEN}">derzeit defekt</li>
                        <li data-label th:case="${T(de.rat.model.logistics.ToolStatus).ISINREPAIR}">in Reperatur</li>
                        <li data-label th:case="${T(de.rat.model.logistics.ToolStatus).ISRENTED}">derzeit verliehen</li>
                    </th:block >
                    <!--        <td data-label="Manufacturer" th:text="${tool.manufacturer}">Manufacturer</td>-->

                    <li data-label="Rentprice" th:text="${tool.rentPrice}+' €'">Rentprice</li>
                </ul>
                <p>Some text about the Tool. Super slim and comfy lorem ipsum lorem toolsum. Lorem toolmsun denim lorem toolmsun.</p>

                <form  th:action="@{/returnStation/{id}(id=${tool.id})}" th:object="${tool}"  method="post">
                    <a sec:authorize="hasRole('CUSTOMER')"> <p><button>Zurückgeben</button></p> </a>
                </form>
            </div>
        </div>
    </div>
</section>
<section id="Leistungen" class="ud_page">



<section id="Footer" class="ud_page2">
    <!-- Footer -->
    <footer th:replace="fragments/footer :: footer"></footer>

</section>
</body>
</html>