<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Rent A Tool</title>
    <!-- ########################################################################## -->
    <!-- CSS & Fonts -->
    <!-- ########################################################################## -->

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <link rel="stylesheet" type="text/css" href="css/icon.css">
    <link rel="stylesheet" type="text/css" href="css/toolManagement.css">
    <!-- ########################################################################## -->
    <!-- jQuery -->
    <!-- ########################################################################## -->

    <script src="js/jquery.js"></script>
    <script src="js/scroll.js"></script>


</head>
<body>
<header>
    <!-- Logo -->
    <div id="ud_logo"><a href="#Startseite"><img src="images/logo.jpg" alt=""/></a></div>



    <!-- Navigation -->
    <nav>
        <ul>

            <li><a href="tools">Tools <i class="fa fa-wrench" aria-hidden="true"></i></a></li>
            <li><a href="#Startseite">Startseite <i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li><a href="#UberUns">Über Uns <i class="fa fa-info" aria-hidden="true"></i></a></li>
            <li><a href="#Kontakt">Kontakt <i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
            <li><a href="register">Registrierung <i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
            <li><a href="login">LogIn <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
        </ul>
    </nav>
</header>


<div class="toolManagementHeader">
    <h1>Tool Management</h1>
    <a href="/new"><i class="fa fa-plus" aria-hidden="true"></i> Add Tool</a>
</div>
<table>
    <caption>Tools</caption>
    <thead>
    <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Category</th>
        <th scope="col">Rentprice</th>
        <th scope="col">Toolstatus</th>
        <!--            <th scope="col">Manufacturer</th>-->
        <th scope="col">Description</th>
        <th scope="col">Actions</th>

    </tr>
    </thead>

    <tr>
    <tbody>
    <tr th:each="tool : ${listTools}">
        <td data-label="Product ID" th:text="${tool.id}">Product ID</td>
        <td data-label="Category " th:text="${tool.category}">Category</td>
        <td data-label="Rentprice" th:text="${tool.rentPrice}">Rentprice</td>
        <td data-label="Toolstatus" th:text="${tool.toolStatus}">Toolstatus</td>
<!--        <td data-label="Manufacturer" th:text="${tool.manufacturer}">Manufacturer</td>-->
        <td data-label="Description" th:text="${tool.description}">Description</td>
        <td>
            <a th:href="@{'/edit/' + ${tool.id}}"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
            &nbsp;&nbsp;&nbsp;
            <a th:href="@{'/delete/' + ${tool.id}}"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
        </td>
    </tr>

    </tbody>
</table>

<!-- ########################################################################## -->
<!-- Kontakt -->
<!-- ########################################################################## -->

<section id="Kontakt" class="ud_page">

    <!-- Headline -->
    <h2>Kontakt</h2>
    <div class="ud_h2_balken"></div>

    <!-- Content -->
    <article class="ud_kontakt">
        <ul>
            <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="">contact@rentatool.com</a></li>
            <li><i class="fa fa-location-arrow" aria-hidden="true"></i></span> Beispielstraße 1, Freiburg 23122</li>
            <li><i class="fa fa-phone-square" aria-hidden="true"></i> 0123 / 12 12 12 5</li>
        </ul>
    </article>

    <!-- Footer -->
    <footer>

        <!-- Logo -->
        <div class="ud_logo"><img src="images/logo.jpg" alt="" /></div>

        <!-- Metanavigation -->
        <nav id="ud_meta_nav">
            <ul>
                <a href="">
                    <li>Impressum</li>
                </a>
                <a href="">
                    <li>Datenschutz</li>
                </a>
                <a href="">
                    <li>Haftungsausschluss</li>
                </a>
            </ul>
        </nav>

        <!-- Metanavigation -->
        <div id="ud_copyright">Design by <a href="">KSP-IT Solutions</a></div>

    </footer>

</section>
</body>
</html>