<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body class="toolsBody">
<header th:replace="fragments/header :: header"></header>
<section id="UberUns" class="ud_page">

    <!-- Headline -->
    <h2>Toolmanagement</h2>
    <div class="ud_h2_balken"></div>

<div class="toolManagementHeader">
    <a href="/newTool"><i class="fa fa-plus" aria-hidden="true"></i> Werkzeug hinzufügen</a>
</div>
<table>
    <caption>Werkzeuge</caption>
    <thead>
    <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Kategorie</th>
        <th scope="col">Leihpreis</th>
        <th scope="col">Werkzeugstatus</th>
        <!--            <th scope="col">Manufacturer</th>-->
        <th scope="col">Description</th>
        <th scope="col">Actions</th>

    </tr>
    </thead>

    <tr>
    <tbody>
    <tr th:each="tool : ${listTools}">
        <td data-label="Product ID" th:text="${tool.id}">Product ID</td>
        <th:block th:switch="${tool.category}">
            <td data-label="Category " th:case="${T(de.rat.model.logistics.Category).ACCUTOOL}">akkubetrieben</td>
            <td data-label="Category " th:case="${T(de.rat.model.logistics.Category).ELECTRICALTOOL}">elektrisch betrieben</td>
            <td data-label="Category " th:case="${T(de.rat.model.logistics.Category).GARDENTOOL}">Gartenwerkzeug</td>
            <td data-label="Category " th:case="${T(de.rat.model.logistics.Category).HANDTOOL}">ohne Motor</td>
        </th:block >
        <td data-label="Rentprice" th:text="${tool.rentPrice}+' €'">Rentprice</td>
        <th:block th:switch="${tool.toolStatus}">
            <td data-label="Toolstatus" th:case="${T(de.rat.model.logistics.ToolStatus).AVAILABLE}">ist vorhanden</td>
            <td data-label="Toolstatus" th:case="${T(de.rat.model.logistics.ToolStatus).ISBROKEN}">derzeit defekt</td>
            <td data-label="Toolstatus" th:case="${T(de.rat.model.logistics.ToolStatus).ISINREPAIR}">in Reperatur</td>
            <td data-label="Toolstatus" th:case="${T(de.rat.model.logistics.ToolStatus).ISRENTED}">derzeit verliehen</td>
        </th:block >
<!--        <td data-label="Manufacturer" th:text="${tool.manufacturer}">Manufacturer</td>-->
        <td data-label="Description" th:text="${tool.description}">Description</td>
        <td>
            <a th:href="@{/editTool/{id}(id=${tool.id})}"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
<!--           TODO: create a option to make a tool inaktive  &nbsp;&nbsp;&nbsp;-->
<!--            <a th:href="@{'/delete/' + ${tool.id}}"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>-->
        </td>
    </tr>

    </tbody>
</table>
</section>

<section id="Footer" class="ud_page2">
    <!-- Footer -->
    <footer th:replace="fragments/footer :: footer"></footer>

</section>>
</body>
</html>