<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body class="toolsBody">
<header th:replace="fragments/header :: header"></header>

<section id="UberUns" class="ud_page">

    <!-- Headline -->
    <h2>Unsere Tools</h2>
    <div class="ud_h2_balken"></div>


<div class="flexWrapper">
<div th:each="tool : ${listTools}">
<div class="card">
    <img src="/images/leistung_2.jpg" alt="TOOLdummy" style="width:80%">
    <ul class="toolInfo">
        <li data-label="Description" th:text="${tool.description}">Description</li>
    <li data-label="Category " th:text="${tool.category}">Category</li>
    <li data-label="Toolstatus" th:text="${tool.toolStatus}">Toolstatus</li>
    <!--        <td data-label="Manufacturer" th:text="${tool.manufacturer}">Manufacturer</td>-->

        <li data-label="Rentprice" th:text="${tool.rentPrice}">Rentprice</li>
    </ul>
    <p>Some text about the Tool. Super slim and comfy lorem ipsum lorem toolsum. Lorem toolmsun denim lorem toolmsun.</p>
    <form  th:action="@{/addToInventory/{Id}}" th:object="${tool}"  method="post">
    <p><button>Reservieren</button></p>
    </form>
</div>
</div>
</div>
</section>
<section id="Kontakt" class="ud_page">


    <footer th:replace="fragments/footer :: footer"></footer>


</section>
</body>
</html>