<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body class="toolsBody">
<header th:replace="fragments/header :: header"></header>
<section id="UberUns" class="ud_page">

    <!-- Headline -->
    <h2>Toolmanagement</h2>
    <div class="ud_h2_balken"></div>

<div class="toolManagementHeader">
    <a href="/newTool"><i class="fa fa-plus" aria-hidden="true"></i> Add Tool</a>
</div>
<table>
    <caption>Tools</caption>
    <thead>
    <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Category</th>
        <th scope="col">Rentprice</th>
        <th scope="col">Toolstatus</th>
        <!--            <th scope="col">Manufacturer</th>-->
        <th scope="col">Description</th>
        <th scope="col">Actions</th>

    </tr>
    </thead>

    <tr>
    <tbody>
    <tr th:each="tool : ${listTools}">
        <td data-label="Product ID" th:text="${tool.id}">Product ID</td>
        <td data-label="Category " th:text="${tool.category}">Category</td>
        <td data-label="Rentprice" th:text="${tool.rentPrice}">Rentprice</td>
        <td data-label="Toolstatus" th:text="${tool.toolStatus}">Toolstatus</td>
<!--        <td data-label="Manufacturer" th:text="${tool.manufacturer}">Manufacturer</td>-->
        <td data-label="Description" th:text="${tool.description}">Description</td>
        <td>
            <a th:href="@{/edit/{id}(id=${tool.id})}"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
            &nbsp;&nbsp;&nbsp;
            <a th:href="@{'/delete/' + ${tool.id}}"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
        </td>
    </tr>

    </tbody>
</table>
</section>

<section id="Kontakt" class="ud_page">
    <!-- Footer -->
    <footer th:replace="fragments/footer :: footer"></footer>

</section>
</body>
</html>