<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body class="toolsBody">
<header th:replace="fragments/header :: header"></header>
<div class="card">
    <img src="/images/leistung_2.jpg" alt="TOOLdummy" style="width:80%">
    <h1>Random Tool</h1>
    <p class="price">$19.99</p>
    <p>Some text about the Tool. Super slim and comfy lorem ipsum lorem toolsum. Lorem toolmsun denim lorem toolmsun.</p>
    <p><button>Add to Cart</button></p>
</div>
</body>
</html>